body {
    max-width: 100%;
    margin: 0;
    font-family: Helvetica;
}

/* Navbar  */
.nav-bar {
    background-color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    top: 0px;
    margin-top: 0px;
    width: 100%;
}

.nav-bar-list {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
}

.nav-bar-link {
    text-decoration: none;
    color: gray;
}

.nav-bar-link:hover {
    color: white;
}

.iphone-logo {
    height: 16px;
}

/* Short quote */
.short-quote {
    background-color: white;
    margin-top: 60px;
    text-align: center;
    font-size: 20px;
}

/* Main content */
.main-content {
    text-align: center;
    background-color: black;
}

.headline {
    font-size: 50px;
    color: white;
    margin-bottom: 0;
}

.subhead {
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin-top: 0;
}

.avail {
    color: gray;
    font-size: 20px;
    font-weight: 300;
}

.iphone-image {
    width: 40%;
}

.main-links {
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
    color: #2997ff;
}

.main-links:hover {
    text-decoration: underline;
}

.white-bg {
    background-color: #fff;
}

.black-bg {
    background-color: black;
}

.headline-black {
    font-size: 50px;
    color: black;
    margin-bottom: 0;
}

.subhead-black {
    font-size: 25px;
    font-weight: 300;
    color: black;
    margin-top: 0;
}


/* watches */
.col1 {
    margin: 10px;
    float: left;
    width: 48%;
    height: 50%;
}

.col2 {
    float: right;
    text-align: center;
    margin: 10px;
    width: 49%;
    height: 50%;
}

.col-image {
    width: 500px;
    height: 300px;
}

.label {
    color: red;
    margin-top: 0;
}

/* Footer */
.footer {
    text-align: center;
}